@model AccommoLinkResidenceAssistance.Models.ReportResidence

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReportResidence</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResidenceIssue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResidenceIssue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Residences.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Residences.Name)
        </dd>
        <dt class="col-sm-2">
            Residence Address
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelItem => Model.Residences.AddressLine1)
            @if (Model.Residences.AddressLine2 != null)
            {
                @Html.DisplayFor(modelItem => Model.Residences.AddressLine2)
            }
            @Html.DisplayFor(modelItem => Model.Residences.Suburb)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
